from http import HTTPStatus
from typing import Any
from urllib.parse import quote

import httpx

from ... import errors
from ...client import AuthenticatedClient, Client
from ...models.error import Error
from ...models.http_validation_error import HTTPValidationError
from ...models.project import Project
from ...models.project_update import ProjectUpdate
from ...types import UNSET, Response, Unset


def _get_kwargs(
    project_id: int,
    *,
    body: ProjectUpdate | Unset = UNSET,
) -> dict[str, Any]:
    headers: dict[str, Any] = {}

    _kwargs: dict[str, Any] = {
        "method": "put",
        "url": "/projects/{project_id}".format(
            project_id=quote(str(project_id), safe=""),
        ),
    }

    if not isinstance(body, Unset):
        _kwargs["json"] = body.to_dict()

    headers["Content-Type"] = "application/json"

    _kwargs["headers"] = headers
    return _kwargs


def _parse_response(
    *, client: AuthenticatedClient | Client, response: httpx.Response
) -> Error | HTTPValidationError | Project | None:
    if response.status_code == 200:
        response_200 = Project.from_dict(response.json())

        return response_200

    if response.status_code == 404:
        response_404 = Error.from_dict(response.json())

        return response_404

    if response.status_code == 422:
        response_422 = HTTPValidationError.from_dict(response.json())

        return response_422

    if client.raise_on_unexpected_status:
        raise errors.UnexpectedStatus(response.status_code, response.content)
    else:
        return None


def _build_response(
    *, client: AuthenticatedClient | Client, response: httpx.Response
) -> Response[Error | HTTPValidationError | Project]:
    return Response(
        status_code=HTTPStatus(response.status_code),
        content=response.content,
        headers=response.headers,
        parsed=_parse_response(client=client, response=response),
    )


def sync_detailed(
    project_id: int,
    *,
    client: AuthenticatedClient | Client,
    body: ProjectUpdate | Unset = UNSET,
) -> Response[Error | HTTPValidationError | Project]:
    """プロジェクト更新

     指定IDのプロジェクトを更新する

    Args:
        project_id (int): プロジェクトID
        body (ProjectUpdate | Unset): NOTE: This class is auto generated by OpenAPI Generator
            (https://openapi-generator.tech).

            Do not edit the class manually.

            ProjectUpdate - a model defined in OpenAPI

                name: The name of this ProjectUpdate [Optional].
                description: The description of this ProjectUpdate [Optional].

    Raises:
        errors.UnexpectedStatus: If the server returns an undocumented status code and Client.raise_on_unexpected_status is True.
        httpx.TimeoutException: If the request takes longer than Client.timeout.

    Returns:
        Response[Error | HTTPValidationError | Project]
    """

    kwargs = _get_kwargs(
        project_id=project_id,
        body=body,
    )

    response = client.get_httpx_client().request(
        **kwargs,
    )

    return _build_response(client=client, response=response)


def sync(
    project_id: int,
    *,
    client: AuthenticatedClient | Client,
    body: ProjectUpdate | Unset = UNSET,
) -> Error | HTTPValidationError | Project | None:
    """プロジェクト更新

     指定IDのプロジェクトを更新する

    Args:
        project_id (int): プロジェクトID
        body (ProjectUpdate | Unset): NOTE: This class is auto generated by OpenAPI Generator
            (https://openapi-generator.tech).

            Do not edit the class manually.

            ProjectUpdate - a model defined in OpenAPI

                name: The name of this ProjectUpdate [Optional].
                description: The description of this ProjectUpdate [Optional].

    Raises:
        errors.UnexpectedStatus: If the server returns an undocumented status code and Client.raise_on_unexpected_status is True.
        httpx.TimeoutException: If the request takes longer than Client.timeout.

    Returns:
        Error | HTTPValidationError | Project
    """

    return sync_detailed(
        project_id=project_id,
        client=client,
        body=body,
    ).parsed


async def asyncio_detailed(
    project_id: int,
    *,
    client: AuthenticatedClient | Client,
    body: ProjectUpdate | Unset = UNSET,
) -> Response[Error | HTTPValidationError | Project]:
    """プロジェクト更新

     指定IDのプロジェクトを更新する

    Args:
        project_id (int): プロジェクトID
        body (ProjectUpdate | Unset): NOTE: This class is auto generated by OpenAPI Generator
            (https://openapi-generator.tech).

            Do not edit the class manually.

            ProjectUpdate - a model defined in OpenAPI

                name: The name of this ProjectUpdate [Optional].
                description: The description of this ProjectUpdate [Optional].

    Raises:
        errors.UnexpectedStatus: If the server returns an undocumented status code and Client.raise_on_unexpected_status is True.
        httpx.TimeoutException: If the request takes longer than Client.timeout.

    Returns:
        Response[Error | HTTPValidationError | Project]
    """

    kwargs = _get_kwargs(
        project_id=project_id,
        body=body,
    )

    response = await client.get_async_httpx_client().request(**kwargs)

    return _build_response(client=client, response=response)


async def asyncio(
    project_id: int,
    *,
    client: AuthenticatedClient | Client,
    body: ProjectUpdate | Unset = UNSET,
) -> Error | HTTPValidationError | Project | None:
    """プロジェクト更新

     指定IDのプロジェクトを更新する

    Args:
        project_id (int): プロジェクトID
        body (ProjectUpdate | Unset): NOTE: This class is auto generated by OpenAPI Generator
            (https://openapi-generator.tech).

            Do not edit the class manually.

            ProjectUpdate - a model defined in OpenAPI

                name: The name of this ProjectUpdate [Optional].
                description: The description of this ProjectUpdate [Optional].

    Raises:
        errors.UnexpectedStatus: If the server returns an undocumented status code and Client.raise_on_unexpected_status is True.
        httpx.TimeoutException: If the request takes longer than Client.timeout.

    Returns:
        Error | HTTPValidationError | Project
    """

    return (
        await asyncio_detailed(
            project_id=project_id,
            client=client,
            body=body,
        )
    ).parsed
